<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <% if(data.length==0){ %>
        <h1>
            <center style="margin-top: 200px;">

                Data is empty!
            </center>
        </h1>
        <% } else {%>
            <div class="container p-20">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Combo Image</th>
                            <th>Name</th>

                            <th>Image</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>
                        <% data.forEach((hero, i)=> { %>
                            <tr>
                                <td>
                                    <%= hero._id %>
                                </td>
                                <td>
                                    <%= hero.comboName %>
                                </td>
                                <td>
                                    <img src="<%= hero.image ? hero.image : "" %>" alt="Combo image not found">
                                </td>

                                <td>
                                    Hero 1 :
                                    <%= hero.heroCombo.one.name %> <br>
                                        Hero 2:
                                        <%= hero.heroCombo.two.name %> <br>
                                            Hero 3:
                                            <%= hero.heroCombo.three.name %> <br>
                                                Hero 4:
                                                <%= hero.heroCombo.four.name %> <br>
                                                    Hero 5 :
                                                    <%= hero.heroCombo.five.name %> <br>

                                </td>
                                <td>
                                    <%= hero.heroCombo.one.image %><br>
                                        <%= hero.heroCombo.two.image %><br>
                                            <%= hero.heroCombo.three.image %><br>
                                                <%= hero.heroCombo.four.image %><br>
                                                    <%= hero.heroCombo.five.image %>

                                </td>
                                <td>
                                    <form action="/delete" method="post">
                                        <button type="">
                                            Delete
                                        </button>
                                    </form>
                                    <form action="./edit" method="get">
                                        <button type="submit">
                                            Edit
                                        </button>
                                    </form>
                                </td>

                            </tr>
                            <% }) %>
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>

                        </tr>
                    </tfoot>
                </table>
                <% } %>
            </div>
            <div style="display: none;">
                <input type="hidden" value="<%= JSON.stringify(data) %>" id="datafile">
            </div>
            <script>
                $(document).ready(function () {
                    $('#example').DataTable();
                });
                let d = JSON.parse(document.getElementById('datafile').value);

                console.log(d[0]);
            </script>




</body>

</html>